:root{
  --primary: #a10b70; /* Chemnitz University of Technoloy */
  /*--primary: #ffdc00; /* UNSW yellow */
  /*--primary: #50aab9; /* MIDS blue */
  --secondary: white;
  --lightgray: #e6e6e6;
  --darkgray: #555;
}

*{
  box-sizing: border-box;
}

body{
  font-family: Roboto, Sans-serif;
  font-size: 1rem;
  margin: 0;
  background-color: var(--lightgray);
}

header, footer, div.middle{
  display: flex;
  justify-content: center;
}

header, footer{
  background-color: var(--primary);
  color: var(--secondary);
}

header div:last-child{
  display:flex;
}

header div:last-child button{
  margin-left: auto;
  margin-right: 1rem;
  border: none;
  background-color: var(--primary);
  color: white;
  font-size: 2rem;
}

main{
  background-color: white;
}

div.twocolumns{
  display: flex;
  max-width: 1000px;
  width: 100%;
}

header div.twocolumns, footer div.twocolumns{
  align-items: center;
}


div.twocolumns > :first-child{
  flex:1;
  width:100%;
}
header > div.twocolumns > :nth-child(2), footer > div.twocolumns > :nth-child(2){
  flex: 0 0 1px;
  background-color: var(--secondary);
  height: calc(100% - 2rem);
}
div.twocolumns > :last-child{
  flex:4;
  padding: 1rem;
  width:100%;
}

nav{
  position: sticky;
  top: 0;
  max-height: 100svh;
  padding-top: 2rem;
}

nav ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav ul li a{
  padding: 1rem 1rem 1rem 1rem;
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--darkgray);
  border-top: 2px solid white;
}

nav ul li:first-child a{
  border-top: none;
}

nav ul li a.active{
  color: black;
  padding: 1rem 1rem 1rem 1rem;
  font-weight: 600;
}

nav ul li a:hover{
  color: var(--secondary);
  background-color: var(--primary);
  text-decoration: underline;
  font-weight: 600;
  text-decoration-thickness: 0.15rem;
}

nav ul li ul li a{
  padding: 0.5rem 0 0.5rem 2rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
  border: none;
}

nav ul li ul li:last-child a{
  margin-bottom: 1rem;
}

.toggleNav{
  display: none;
}



main h2{
  padding-left: 0.3rem;
  color: var(--secondary);
  font-size: 1.5rem;
  background-color: var(--primary);
}

main ul li{
  margin: 0.2rem 0 0 0.2rem;
}

main table{
  width: 100%;
  border-collapse: collapse;
}
main tr:nth-child(odd){
  background-color: var(--lightgray);
}
main th, td {
  padding: 0.5rem;
  vertical-align: top;
}

main .box{
  padding: 0 1rem 1rem;
  border: 1px solid;
  border-left: 4px solid;
  border-color: var(--primary);
}

main img{
  max-width: 100%;
  height: auto;
}

main i.bx{
    min-width: 1rem;
    font-size: 1.5rem;
}


main a{
  background-color: var(--primary);
  color: var(--secondary);
  text-decoration-style: solid;
  text-underline-offset: 0.1rem;
  text-decoration-color: var(--secondary);
}

main a:hover{
  color: var(--primary);
  background-color: var(--secondary);
  text-decoration: none;
  /*text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.15rem;*/
}

main div.linkbuttons{
  display:flex;
  flex-wrap:wrap;
  justify-content:center
}

main div.linkbuttons a{
  background-color: var(--primary);
  color: var(--secondary);
  text-decoration: none;
  border-radius: 0.3rem;
  border: 2px solid var(--primary);
  padding: 0.1rem;
  margin: 0.2rem;
  text-align: center;
}

main div.linkbuttons a:hover{
  color: var(--primary);
  background-color: var(--secondary);
  border-color: var(--secondary);
}

@media only screen and (max-width: 768px) {
  div.twocolumns{
    flex-direction: column;
  }
  div.twocolumns > div:first-child{
    flex: 0;
  }

  div.twocolumns > nav:first-child{
    position: static;
    top: 0;
    overflow: hidden;
    padding-top: 0rem;
    flex: 0;
    transition: flex-grow 0.5s;
  }

  .toggleNav{
    display: block;
  }
}
